@charset "utf-8";
/* CSS Document */

/* IE6 css fixer v0.8: Thu, 22 Apr 2010 06:56:38 +0200 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
#page #bannerArea #left,
#page #bannerArea #right,
#page #content #home_data,
#page #content #home_sidebar,
#page #content #page_data,
#page #content #navigation,
#page #content #sidebar,
#page #content #sidebar #navigation,
#links_area .site_section,
#tab_row,
#tab_content,
.tab {display:inline;}

/* add zoom:1 to overflow:hidden */
#page #bannerArea,
#page #notices_block,
#page #content,
#page #content #page_data,
#page #content #page_data .news_content,
#page #navigation #popupContainer .nav_popup,
#links_area,
#spot_container,
#spot_container #spotlight,
#art_area,
#art_area #art_display {zoom:1;}

/* add zoom:1 to pos:relative elements */
#page,
#page #header,
#page #content,
#menubar,
#spot_container,
#art_area,
#art_area #art_display,
#tab_section,
#tab_content {zoom:1;}

/* add transparancy */
#page #navigation #popupContainer .nav_popup {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
#spot_container .spotlight_info {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
#spot_container .spotlight_info #textbox {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
#spot_container .spotlight_item {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}


.img_border {
   padding: 2px;
   border: 2px solid #069;
   margin-left: 4px;
   margin-right: 4px;
}

a {
  color:#069;
   text-decoration: none;
}

a:hover {
  color:#09C;
   text-decoration: none;
}

body {
    background-color: #33586C;
}

body, td, th {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
}

#page {
   width: 950px;
   border: solid #ccc 1px;
   background-color:#FFF;
   margin-left: auto;
   margin-right: auto;
   position: relative;
}

#page #header {
    height: 95px;
    position: relative;
    z-index: 10;
    color: #000;
}

#page #header #site_logo {
   position:absolute;
   height: 40px;
   left: 20px;
   top: 10px;
   font-size: 18px;
   color: #000;
   font-family: Tahoma;
}

#page #header #site_title {
   position:absolute;
   padding-top: 10px;
   padding-bottom: 10px;
   left: 20px;
   top: 10px;
   font-size: 24px;
   color: #000;
   font-family: Tahoma;
}

#page #header #search_area {
   position:absolute;
   right: 20px;
   top: 20px;
   color: #000;
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
}

#page #header #search_area td {
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
   color: #000;
}

#page #navigation {
    background-color: #314A66;
    text-align:center;
    clear: both;
    text-align: center;
    overflow:hidden;
    padding-left: 12px;
}

#page #navigation a {
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

#navigation ul, #navigation ul ul {
    margin: 0px;
    padding: 0px;
}

#navigation ul li {
    float: left;
    list-style: none;
    padding-top: 10px;
    padding-bottom:10px;
}

#navigation ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}

/*#navigation ul li a:hover {
  color: #ff3;    
}*/

#navigation ul li ul {
    margin-left: 0px;
    padding-top: 5px;
    padding-left: 0px;
    position: absolute;
    top: auto;
    left: auto;
    display: none;
    background-color: inherit;
    z-index: 20;
}

#navigation ul li:hover {
    background-color:#f9f9f9;
}

#navigation ul li:hover a {
    color: #333;
}

#navigation ul li:hover ul {
    display: block;
    left: inherit;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 3px #333;
    -moz-box-shadow: 3px 3px 3px #333;
    -webkit-box-shadow: 3px 3px 3px #333;
}

#navigation ul li ul li {
    float: none;
    padding: 7px;
    padding-left: 10px;
    width: 16em;
    text-align: left;
    position: relative;
}

#navigation ul li ul li:hover {
    background-color: #385363;
}

#navigation ul li ul li:hover a {
    color:#f9f9f9;
    font-weight: normal;
    display: block;
}

#navigation ul li ul li.divider {
    height: 1px;
    background-color: #999;
    padding: 0px;
    width: 100%;
}

#navigation ul li ul li a {
    color:#FFF;
    font-weight: normal;
    display: block;
}

#navigation ul li ul li ul {
    display:none;
}

#navigation ul li ul li ul li {
    display:none;
}

#navigation ul li ul li:hover ul {
    left: 16em;
    top: 5px;
    margin-top: -10px;
    display: block;
}

#navigation ul li ul li:hover ul li {
    display:block;
}

#navigation ul li ul li:hover ul li a {
    color: #333;
}

#navigation ul li ul li:hover ul li:hover a {
    color: #f9f9f9;
}


#right .right_content {
	font-family: Tahoma, Geneva, sans-serif; font-size: 13px;
}

#right .right_content ul {
	margin-left: 10px; padding-left: 0px; list-style:none;   
}

#right .right_content ul li {
	margin-bottom:10px;
}

#right .right_content .highlight {
	color:#999;   
}

#page #notices_block {
   clear: both;
   overflow: hidden;
   display: table;
}
#page #notices_block .nav {
   width: 250px;
   display: table-cell;
   border-right: dashed #ccc 1px;
   padding: 5px;
   padding-right: 10px;
   vertical-align: top;
}
#page #notices_block .main {
   width: 680px;
   margin-left: 10px;
   display: table-cell;
   padding-left: 10px;
   vertical-align: top;
}
.block_title   {
   color:#333;
   font-size: 13px;
   font-weight: bold;
   margin-bottom: 10px;
   font-family: Georgia, "Times New Roman", Times, serif;
}

#page #content {
   position: relative;
   overflow: hidden;
   padding: 10px;
   clear:both;
   padding-top: 20px;
}

#page #content #home_data {
   width: 640px;
   clear:left;
   float:left;
   background-color: #fff;
}

#page #content #home_data .component_field {
   margin-bottom: 20px;
   margin-left: 10px;
   margin-right: 10px;
}

#page #content #home_sidebar {
   color:#FFF;
   float: right;
   width: 280px;
   clear:right;
}

#page #content #page_data {
   float: left;
   clear:left;
   width: 630px;
   padding: 15px;
   overflow:hidden;
   background-color: #FFF;
}

#page #content #page_data p {
	margin: 0px;   
}

#page #content #page_data .news_title {
   font-family:Georgia, "Times New Roman", Times, serif;
   font-size: 24px;
   color: #333;
   padding-bottom: 5px;
   margin-bottom: 15px;
}

#page #content #page_data .content_title {
   font-family:Georgia, "Times New Roman", Times, serif;
   font-size: 18px;
   color: #333;
   padding-bottom: 5px;
   border-bottom: dotted #ccc 1px;
   margin-top: 5px;
}

#page #content #page_data .content_title a {
  text-decoration: none;
   color: #069;
}

#page #content #page_data .content_title a:hover {
  color: #333;   
}

#page #content #page_data .news_content {
  overflow:hidden;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
   margin-bottom: 20px;
   line-height: 18px;
}

#page #content #page_data .news_content a {
  text-decoration: none;
   color:#069;
}

#page #content #page_data .news_content a:hover {
  color: #06F;
}

/*****
 * The following is kept for compartibility sake with some component pages such as
 * the PHOTO Gallery
 */
#page #content #navigation {
   float:right;
   clear: right;
   padding: 10px;
   border: solid #ccc 1px;
   width: 200px;
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
}

#page #content #sidebar {
   background-color: #FFF;
   padding: 10px;
   float:right;
   clear: right;
   width: 240px;
}

#page #content #sidebar #navigation {
   float:right;
   clear: right;
   padding: 10px;
   border: solid #ccc 1px;
}

#page #content #related_info {
   padding-top: 10px;
   padding-bottom: 10px;
}

#related_info ul {
   margin: 4px;
   list-style: none;
   padding-left: 2px;
}

#related_info .rc_ul {
   margin-left: 4px;
   padding: 4px;
   list-style: none;
}

#related_info ul .rc_title {
   margin-top: 10px;
   border-bottom: dotted #999 1px;
   margin-bottom: 6px;
   padding-bottom: 3px;
   font-weight: bold;
   font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
}

#related_info ul .rc_title a {
   color:#069;
   text-decoration: none;
}

#related_info ul .rc_title a:hover {
  color: #066;   
}

#related_info ul .rc_li {
   border-bottom: dotted #ccc 1px;
   padding-top: 5px;
   padding-bottom: 5px;
}

#related_info ul .rc_li:hover {
  background-color: #f5f5ff;   
}

#related_info ul .rc_li a {
  font-size: 11px;
   font-family:Tahoma, Geneva, sans-serif;
   text-decoration: none;
  color: #333;
}

#related_info ul .rc_li:hover a {
  color: #069;   
}

#page #footer {
   clear:both;
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
   text-align:center;
   padding-top: 5px;
   padding-bottom: 5px;
   color: #000;
   line-height: 18px;
   border-top: dashed #ccc 1px;
}

#page #footer a {
   color:#069;
   text-decoration: none;
}

#page #footer a:hover { color: #096; }
/*********************************************************************
 * SECTION PAGE CSS NAVIGATION MENU
 *********************************************************************/
#menubar {
  width: 100%;
   /*padding-top: 10px;
   padding-bottom: 10px;*/
   position: relative;
}

#menubar a {
   margin-left: 20px;
   margin-right: 20px;
   color:#FF0;
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
   font-weight: bold;
}

#menubar a:hover {
   color:#FFF;
}




#comment-form {
	border: dotted #ddd 1px;
    padding: 10px;    
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#comment-form div {
    overflow: hidden;
    padding: 5px;
}

#comment-form label {
	display: inline-block;
   	padding: 3px;
    font-weight: bold; 
   	padding-right: 6px;
    float: left;
    width: 70px;
    text-align: right;
}

#comment-form input[type=text] {
	border: solid #ddd 1px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  
    font-size: 11px;
    width: 300px; 
    padding: 3px;
}

#comment-form textarea {
    width: 400px;
    height: 150px;
    border: solid #ccc 1px;
    padding: 5px;
}

#comment-form #comment-buttons {
	padding: 10px;
    padding-left: 85px;
}

#comment-form .comment-text {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #999;
}

#comment-form input[type=button] {
    padding: 8px;
    /*border: solid #ddd 1px;*/
    font-size: 11px;
    font-weight: bold;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#comment-list {
	margin: 0px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 0px;
    list-style: none;  
}

#comment-list li {
	margin-bottom: 10px;
    border: solid #ddd 1px;  
    border-bottom: solid #bbb 2px;
}

#comment-list li > div {
    padding: 5px;
}

#comment-list li .comment-info .date {
 	font-size: 10px;
    color: #069;   
}

#comment-list li .comment-info .moderation {
	color: #930;
    font-weight: bold;    
}