/* CSS Document */

/********************************************************************************************
 * SPOTLIGHT DEFINITION
 *******************************************************************************************/
#spot_container {
	width: 100%;
	overflow:hidden;
	background-color: #FFF;
	height:100%;
	position:relative;
}

#spot_container #spotlight {
	width: 100%;
	height: 250px;
	overflow:hidden;
    position: relative;
}

#spot_container #spotlight_menubar {
    position: absolute;
    left: 30px;
    top: 0px;
    width:150px;
    height:250px;
}

#spot_container #spotlight_menubar .menu_bg {
	background-color: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;    
}

#spot_container #spotlight_menubar .spotlight_menu {
    color:#FFF;
    padding-left:5px;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:11px;
    font-weight:bold;
    margin-top:1px;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

#spot_container #spotlight_menubar .spotlight_menu .menu_header {
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 10px;
    color: #FF9;
    
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
}

#spot_container #spotlight_menubar .spotlight_menu .menu_subheader {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    font-weight:normal;
    color: #fff;
    
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
}

#spot_container #spotlight_menubar .spotlight_menu .menu_description {
    padding: 5px;
   	padding-top: 15px;
    color: #000;
    line-height: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;    
    font-weight: normal;
    color: #ccc;
}

#spot_container #spotlight_menubar .spotlight_menu .menu_description a {
	color: #FF6;    
}

#spot_container #spotlight_menubar .spotlight_menu .menu_description a:hover {
	color: #FFC;    
}


#spot_container #spotlight_menubar .selected {
	color:#FFF;
	padding-left:5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	height:62px;
	margin-top:1px;
	width:160px;
	background-position:center right;
}

#spot_container .spotlight_info {
	position:absolute;
	height:50px;
	right:0px;
	bottom:0px;
	width:100%;
	background:#000;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:11px;
	text-align:right;
	z-index: 2;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

#spot_container .spotlight_info #textbox {
	color:#FFF;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	opacity: 1.0;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#spot_container .spotlight_info #textbox p { margin-top: 2px; }

#spot_container .spotlight_info #textbox a { color:#FF3; }

#spot_container .spotlight_info #textbox a:hover { color:#FFF; }

#spot_container .spotlight_item {
    position:absolute;
    display:none;
    opacity: 0.0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    right: 0px;
}
