/* 
    Document   : cms-ui
    Created on : May 19, 2010, 10:37:57 PM
    Author     : Francis Adu-Gyamfi
    Description:
        This style sheet provides the UI customizations for all CMS UI components
*/


ul, ol, dl {
    margin: 0px;
    padding: 0px;
}

.cms-menu {
    list-style: none;
    border: solid #ccc 1px;
    background-color: #fafafa;
    position: absolute;
    top: 20px;
    left: 0px;
    display: none;
    z-index: 300;
    
}

.cms-menu li {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.cms-menu li:hover {
    background-color: #069;
    color: #fff;
}

.cms-menu li a {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

.cms-tabs {
    position: relative;
}

.cms-tabs .tab-row {
	position: relative;
    overflow: hidden;   
    border-bottom: solid #ccc 1px; 
}

.cms-tabs .tab-row .tab {
	border: solid #ccc 1px;
    padding: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: -2px;
}

.cms-tabs .tab-row .tab:hover {
	background-color: #f1f1f1;
    color: #000;
    cursor: pointer;    
}

.cms-tabs .tab-row .tab.selected {
	background-color:#069;
    color: #fff;    
}

.cms-tabs .tab-data {
	padding: 5px;
    border-bottom: solid #ccc 1px;
    border-left: solid #ccc 1px;    
    border-right: solid #ccc 1px;
    display: none;
}

.cms-tabs .tab-data.selected {
	display: block;    
}
