@charset "utf-8";

/* CSS Document */

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#ajax-progress {
	position: fixed;
    top: 0px;
    left: 50%;
    z-index: 1000;
    margin-left: -100px;
    width: 200px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background-color: #ffc;  
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-align: center;
    visibility: hidden;  
    color: #000;
}

#page {
}

#page #header {
    background-color:#600;
    color:#FFF;
    z-index: 10;
}

#page #site-info-bar {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #580000;
    color: #FFF;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #790000;
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    overflow: hidden;
    padding: 8px;
    z-index: 20;
}

#page #site-info-bar #sitename {
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    padding: 8px;
}

#page #content-wrapper {
    background-color: #f5f5f5;
    padding: 5px;
    overflow: visible;
}

#page #content-wrapper #content-header {
    background-color: #FFF;
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: solid #ccc 1px;
    margin-left: auto;
    margin-right: auto;
    width: 1010px;
    margin-bottom: 5px;
    text-transform: capitalize;
    display: none;
}

#page #content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    clear: both;
}

#page #content #nav {
    float: left;
    width: 224px;
    padding: 5px;
    border: solid #e5e5e5 1px;
    clear: left;
    background-color: #FFF;
}

#page #content #main {
    float: right;
    clear: right;
    width: 770px;
    padding: 5px;
    border: solid #e5e5e5 1px;
    background-color: #FFF;
    position: relative;
    overflow: visible;
}

#page #footer {
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    text-align:center;
    padding: 10px;
    clear: both;
    overflow: visible;
    border-top: solid #bbb 1px;
}

/**
 * Site Bar Popup
 */
#nav-wrapper {
    width: 995px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

#site-info-bar {
    z-index: 100;
}

#site-info-bar ul, #site-info-bar ul ul {
    margin: 0px;
    padding: 0px;
}

#site-info-bar ul li {
    float: left;
    /*width: 10em;*/
    list-style: none;
    padding-right: 10px;
    padding-left: 5px;
    z-index: 10000;
}

#site-info-bar ul li a {
    color: #FFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

#site-info-bar ul li a:hover {
    color: #FF9;
}

#site-info-bar ul li ul {
    margin-left: 0px;
    padding-top: 5px;
    padding-left: 0px;
    position: absolute;
    top: auto;
    left: auto;
    display: none;
    background-color:#580000;
    z-index: 20;
}

#site-info-bar ul li:hover ul {
    display: block;
    left: auto;
}

#site-info-bar ul li ul li {
    float: none;
    padding: 7px;
    padding-left: 10px;
    width: 14em;/*border: solid #ccc 1px;*/
}

#site-info-bar ul li ul li:hover {
    background-color:#930;
}

#site-info-bar ul li ul li.divider {
    height: 1px;
    background-color: #999;
    padding: 0px;
    width: 100%;
}

#site-info-bar ul li ul li a {
    color:#FFF;
    font-weight: normal;
    display: block;
}

#site-info-bar ul li ul li a:hover {
    color: #FF9;
}

#site-info-bar .sitename {
/*width: 30em;*/
}

#site-info-bar .sitename > a {
    color: #FF6;
}
