/* CSS Document */

#comments-table tr.pending {
	background-color: #FFC;    
}

#comments-table td {
    padding: 4px;
    padding-right: 10px;
}

#comments-table td .author-name {
    padding-top: 3px;
	font-weight: bold;
}

#comments-table td .author-address {
    padding-top: 3px;
    padding-bottom: 6px;
    color: #06C;
}

#comments-table td .post-date {
    padding-top: 3px;
    padding-bottom: 6px;
    color: #06C;
}

#comments-table td .options-group {
    padding-top: 10px;
    padding-bottom: 5px;
    visibility: hidden;
}

#comments-table td:hover .options-group {
	visibility: visible;
}

#comments-table td .comment-text.editable {
	border: solid #ccc 1px;
    padding: 5px;
    background-color: #fff; 
}

.nav_footer .page-link {
	padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 10px;
    font-weight: bold; 
    margin-right: 8px;
    border: solid #f1f1f1 1px;
}

.nav_footer .page-link.selected {
	background-color: #666;
    color: #fff;    
}
