@charset "utf-8";
/* CSS Document */

.img_border {
	padding: 2px;
    border: solid #CC0 3px;
    margin-left: 4px;
    margin-right: 4px;
}

.sec_title {
	font-family:Tahoma, Geneva, sans-serif;
    font-weight:bold;
    border-bottom: dashed #ccc 1px;
    padding: 4px;
    padding-top: 10px;
}

/* TinyMCE specific rules */
body.mceContentBody {
    background: #FFF;
    padding: 5px;
    margin: 0px;
}

div[type="widget"] {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    display: inline-block;
    padding: 8px;
    border: solid #ccc 1px;
    background-color: #333;
    color: #fff;
}

div[type="widget"].selected {
	border: dashed #09C 1px;    
}

.cms-bordered {
	border: dashed #069 1px;
    padding: 2px;
    box-sizing:border-box;
    margin: 1px;
}