/* CSS Document */

.checkDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.dateDiv {
    padding: 5px;
    overflow: hidden;
    background-color: #F4FFF0;
    border: solid #ccc 1px;
}

.event-past {
	background-color: #FAE8DA;    
}

.event-past-icon {
	background-image:url(../images/icons/calendar_delete.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline;
	padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.event-upcoming-icon {
	background-image:url(../images/icons/calendar.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline;
	padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
}