@charset "utf-8";
/* CSS Document */


#msg_list {
   overflow: hidden;
   border: solid #ccc 1px;
   margin-top: 3px;
}

#msg_list_header {
	background-color:#FcFcfC;
   border-bottom: solid #ccc 1px;
}

#msg_list_content {
    overflow: auto;
    padding: 0px;
}

#msg_list_content td {
    border-bottom: solid #e5e5e5 1px;
    vertical-align: middle;
}

#msg_list_content tr:hover {
	background-color:#F1F1F1;   
}

#msg_list_content .msgunread td {
   background-color:#E7FDD7;
}

#msg_list_content .msgread {
	background-color:#FFF;
}

#msg_list_content .msgselected { background-color: #EDFACF }

#msg_list_content td, th {
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
   margin-left: 0px;
   padding-left: 0px;
}

#msg_pane {
   height: 300px;
   overflow: hidden;
}

#msg_pane .msg_header {
	border-bottom: solid #ccc 1px;
   padding: 10px;
   background-image: url(images/back.jpg);
}

#msg_pane .msg_processed {
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 13px;
   font-weight: bold;
   text-align:center;
   padding: 5px;
}

#tab_section #tab_content {
	padding: 0px;   
   border: none;
}
