@charset "utf-8";
/* CSS Document */

.style1 {
   color: #FFFFFF;
   font-weight: bold;
}

.style2 {
   color: #003366;
   font-weight: bold;
}

.galSection {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #FFFFFF;
   background-color: #003366;
}

.style3 { color: #990000 }

#gallery-images {
    overflow: hidden;
}

#gallery-images ul {
	list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#gallery-images ul li {
	float: left; 
    margin-left: 25px;
    margin-right: 25px;
    border: solid #e5e5e5 1px;
    border-radius: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 10px;
}

#gallery-images ul li:hover {
	background-color: #E9EFF5;
    color: black;
}

#gallery-images ul li.selected {
    background-color: #53708E;
    color: white;
}

#gallery-images ul li.selected:hover a {
	color: #white;    
}

#gallery-images ul li.selected a {
	color: white;    
}

#gallery-images ul li .image_box {
	padding: 5px;
    height: 110px;
    width: 155px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#gallery-images ul li .image_box img {
	border: solid #999 1px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto; 
}

#gallery-images ul li .options_box {
	text-align: center;    
}

#gallery-images ul li .options_box div {
	padding: 3px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11px;  
}

#gallery-images ul li .options_box a {
	font-size: 11px;
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;    
}

#gallery-images #images-footer {
	padding: 10px;    
}

#gallery-images #images-footer a {
    margin-left: 3px;
    margin-right: 3px;
    border: solid #ccc 1px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
}

#gallery-images #images-footer a.selected {
    background-color: #069;
    color: #fff;
}

#gallery-images #images-footer a:hover {
    background-color: #f0f0f0;
    color: #000;
}