@charset "utf-8";
/* CSS Document */

.style2 {
    color: #FFFFFF;
    font-weight: bold;
}
#area_header {
    padding: 5px;
    border-bottom: dotted #ccc 1px;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
#img_area {
    padding: 10px;
    overflow: hidden;
    width: 100%;
    text-align:left;
    margin-left:auto;
    margin-right: auto;
}
.img_box {
    padding: 3px;
    width: 180px;
    display: inline-block;
    border: solid #ccc 1px;
    margin: 10px;
    font-size: 10px;
    /* added to solve the IE 6, 7 and older browser's lack of support for display: inline-block */
            float: left;
    height: 165px;
    position: relative;
}
.img_con {
    text-align:center;
    padding: 3px;
}
.img_options {
    padding: 3px;
    text-align:center;
    font-size: 11px;
    position: absolute;
    bottom: 3px;
    width: 100%;
}
.img_options .img_name {
    text-align: center;
    font-size: 10px;
}
