/* CSS Document */

#file_browser_container {
	position: absolute;
    background-color: #fff;
    border: solid #ccc 1px;
    padding: 5px 10px;
    width: 300px;
    height: 250px;
    overflow: auto;
    left: 60%;
    top: 100px;
    display: none;
}

#file_browser_container > div.closer {
	text-align: right;
    font-size: 11px;
}