/* CSS Document */

#ajax-progress {
	position: fixed;
    top: 0px;
    left: 50%;
    z-index: 1000;
    margin-left: -100px;
    width: 200px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background-color: #ffc;  
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-align: center;
    visibility: hidden;  
}

#main .editor-block {
    display: none;
}

.cms-pages {
	border: solid #ccc 1px; 
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px   
}

.cms-pages .tree-instruction {
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    padding: 5px;
    border-bottom: dotted #eee 1px;  
    color: #666;  
}

.cms-list-header {
	background-color: #f1f1f1; 
   	overflow: hidden;
    font-weight: bold;
    border-bottom: solid #ccc 1px;
}

.cms-pages div {
    padding: 5px;
}

.cms-pages .page-name-col {
	float: left;
    width: 400px;    
}

.cms-pages .options-col {
	float: right;
    width: 200px; 
    text-align:center;
}

.cms-pages .home-page-block {
	padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: dotted #ccc 1px;
    overflow: hidden;
    background-color: #fcfcfc;
}

.cms-pages .pages-block {
    margin-bottom: 15px;
}

.cms-pages .footer-block {
	padding-bottom: 5px;
    margin-top: 15px;
    border-bottom: dotted #ccc 1px;
    border-top: dotted #ccc 1px;
    overflow: hidden;
    background-color: #fcfcfc;
}

.cms-page-list {
	overflow: hidden;
    width: 100%;
    margin: 0px; 
    padding: 0px;
    list-style: none;
}

.cms-page-list li {
    list-style: none;
    margin-left: 5px;
    overflow:hidden;
}

.cms-page-list li.folder {
   background-image: url(../images/icons/folder.png);
   background-position: left 5px ;
   background-repeat: no-repeat;
   padding-left: 20px;
}

.cms-page-list li.file {
   background-image: url(../images/icons/page.png);
   background-position: left 5px ;
   background-repeat: no-repeat;
   padding-left: 20px;
}

.cms-page-list li div.row {
	overflow: hidden;  
    padding: 0px;  
}

.cms-page-list li div.row:hover { 
	background-color: #f1f1ff;
}

.cms-page-list li div {
	padding: 5px;
    box-sizing: border-box; 
    /*border: solid red 1px;*/
}

.cms-page-list li .name_col {
    float: left;
    width: 400px;
}

.cms-page-list li .options_col {
    float: right;
    width: 200px;
    text-align: center;
}

.cms-page-list li .options_col a {
    margin-left: 4px;
    margin-right: 4px;
}

.cms-page-list li ul {
	clear: both;   
}
