@charset "utf-8";
/* CSS Document */

#site_navbar {
   width: 400px;
   margin-right: auto;
   margin-left: auto;
   clear: both;
   overflow: hidden;
}

#site_list {
    position: relative;
    overflow: visible;
    ;
}
.site_box {
    border: solid #ccc 1px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 10px;
    overflow: visible;
    height: 60px;
    padding: 3px;
    margin-top: 5px;
}

.site_box.default_site {
	background-color: #E6F9F2 !important; /*override all other color indications */
}

.site_box.inactive {
    background-color: #ffffd9;
    background-image: url('../images/caution.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.site_box:hover { background-color: #F4FFF9; }

.site_box img {
	margin-left: 15px;
}

.site_box .site_details {
   padding: 5px;
   position:relative;
   bottom: 0px;
   text-align: left;
   font-size: 10px;
}

.site_box .site_name {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 11px;
   font-weight: bold;
   padding-top: 3px;
   padding-bottom: 3px;
}

.site_box .site_options {
   padding-left: 20px;
}

.right_line {
	border-right: dashed #ccc 1px;   
}

#filter_pane {
   margin-left: auto;
   margin-right: auto;
   font-family:Tahoma, Geneva, sans-serif;
   font-size: 11px;
   text-align: left;
   padding: 3px;
   border: solid #e5e5e5 1px;
   margin-bottom: 5px;
   background-color: #fcfcfc;
}