/* CSS Document */

.settings-table {
    
}

.settings-table td {
	border-bottom: dotted #600 1px;
    padding: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

.settings-table td .set-name {
	font-weight: bold;
    color: #933;  
    font-size: 10px;  
}

.settings-table td .set-desc {
	display: block;
    margin-top: 10px;
    padding: 5px;
    /*border: dashed #ddd 1px;*/
}