@charset "utf-8";
/* CSS Document */

#tab_section { 
	position: relative; 
    clear: both;
}

#tab_row {
    border-bottom: solid #aaaacc 1px;
    height: 26px;
    padding-right: 31px;
    clear:both;
}

#tab_row .tab {
    float:left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 1px;
    border-right: solid #aaaacc 1px;
    border-top: solid #aaaacc 1px;
    border-left: solid #aaaacc 1px;
}

#tab_row .tab a, #tab_row .tab a:visited {
    color: #333;
    font-weight:bold;
    font-size: 11px;
    line-height: normal;
    font-family: Tahoma, Geneva, sans-serif;
}

#tab_row .tab:hover {
/*	background-color: #FFCC00;*/
	color: #FFCC00;
}

#tab_row .tab:hover a {
	color: #069;
	font-weight:bold;
}


#tab_row .selected {
	border-bottom: solid #aaaacc 1px;
}

#tab_row .selected a:link { color: #069 
}

#tab_row .selected a:visited { color: #069; 
}

#tab_content {
    padding: 15px;
    border-bottom: solid #aaaacc 1px;
    border-left: solid #aaaacc 1px;
    border-right: solid #aaaacc 1px;
    top: -1px;
    position:relative;
    clear: both;
}

#tab_content a {
	color: #069;
	font-weight:normal;
}

.tab_options {
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 15px;
   padding-right: 15px;
   border-bottom: solid #aaaacc 1px;
   border-left: solid #aaaacc 1px;
   border-right: solid #aaaacc 1px;
   top: 0px;
   position:relative;
   background-image:url(../images/back.jpg);
   position: relative;
   clear: both;
   font-size: 11px;
   overflow: hidden;
}

.tab_options #links {
   width: 300px;
   position:relative;
   padding-top:4px;
   line-height: 20px;
   float: left;
}

.tab_options #search {
   width: 250px;
   position:relative;
   text-align:right;
   float: right;
   padding-top: 4px;
}

.tab_options a {
    font-weight:normal;
    color:#333;
    font-size: 11px;
}

.tab_options a:hover {
	font-weight:normal;
	color:#666;
}
