/* CSS Document */

.theme_box {
    border: solid #ccc 1px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}

.theme_box .box_header {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fafafa;
    color:#000;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 11px;
    clear:both;
    margin-bottom: 10px;
    overflow:hidden;
    border-bottom: solid #ccc 1px;
}

.theme_box .box_header .theme_name {
    float:left;
    width: 300px;
    font-size: 13px;
    font-weight: bold;
}

.theme_box .box_header .theme_options {
    float:right;
    width: 300px;
    text-align:right;
}

.theme_options a {
    color: #069;
    text-decoration: none;
}

.theme_options a:hover {
    color: #036;
}

.theme_box .preview_div {
    float: left;
    width: 160px;
    border: solid #efefef 1px;
    margin-right: 20px;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
}

.theme_box .preview_div img {
    border: solid #999 1px;
}

.theme_box .theme_info {
    width: 520px;
    float: right;
}

.theme_box .theme_info .theme_name {
    font-size: 13px;
    font-family:Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.theme_box .theme_info .theme_desc {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    padding-bottom: 10px;
}

.theme_box .theme_info .theme_css {
    padding-bottom:10px;
}

.theme_box .theme_info .theme_css .theme_css_header {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #666;
    padding: 3px;
}

.theme_box .theme_info .theme_css_list .css_row {
    padding: 3px;
    clear:both;
    overflow: hidden;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

.theme_box .theme_info .theme_css_list .css_row:hover {
    background: #f1fff1;
}

.theme_box .theme_info .theme_css_list .css_row .css_name_col {
    float: left;
    width: 300px;
}

.theme_box .theme_info .theme_css_list .css_row .css_options_col {
    float: right;
    width: 180px;
    text-align:center;
}

.theme_box .theme_info .theme_css_list .css_row .css_options_col a {
    margin-right: 8px;
}
