@charset "utf-8";
/* CSS Document */

.cms-file-writable, .valid {
    color:#090;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.cms-file-readonly, .invalid {
	color: #900;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.cms-warning {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    background-color:#FFC;
    border: 1px solid #933C06;
    padding: 5px;
    text-align: center;
}

.cms-content-header {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    padding: 5px;
    border: solid #ccc 1px;
    background-color: #fbfbfb;
    margin-top: 5px;
    margin-bottom: 10px;
    /* [disabled]letter-spacing: 1px; */
    color: #333;
}

.cms-form-message {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
    border: solid #ccc 1px;
    background-color: #fbfbfb;
    margin-top: 5px;
    margin-bottom: 15px;
}

.cms-form-message ul {
    margin: 5px;
    padding-left: 20px;
}

.cms-form-message p {
	margin-top: 0px;    
}

.cms-column-box {
    box-sizing: border-box;
    border: solid #ccc 1px;
    overflow: hidden;
}

.cms-column-box .left-box {
    float: left;
    width: 50%;
    padding: 5px;
    border: solid #f1f1f1 1px;
    box-sizing: border-box;
}

.cms-column-box .right-box {
    float: right;
    width: 50%;
    padding: 5px;
    border: solid #f1f1f1 1px;
    box-sizing: border-box;
}

/**************************************************
 * DATA TABLE UI
 *************************************************/
.cms-data-table {
    border: 1px solid #d1d1d1;
}

.cms-data-table th {
    background-color: #EDEBE4;
    color: #000;
    border-bottom: solid #d1d1d1 1px;
}

.cms-data-table td {
    border-bottom: solid #f1f1f1 1px;
}

.cms-data-table td, .cms-data-table th {
    padding: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

.cms-data-table td a {
    margin-right: 3px;
}

.cms-data-table tr:nth-child(odd) {
	background-color: #f9f9ff;    
}

.cms-data-table tr:hover {
    background-color: #F3F8FC;
}

.cms-data-table .row_header {
	background-color: #fff;
    font-weight: bold;
}
/**************************************************************
 * ACCORDION UI
 *************************************************************/
.cms-accordion {
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

.cms-accordion-group {
    border: 1px solid #511615;
    margin-bottom: 2px;
}

.cms-accordion-group-header {
    background-color: #511615;
    color:#FFF;
    font-weight: bold;
    padding: 2px;
    font-size: 10px;
}

.cms-accordion-group-content {
	padding: 5px;
}

/******************************************************************
 * CMS CONTENT PANE UI
 ******************************************************************/
.cms-publish-link {
	background-image:url(../images/icons/accept.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline;
	padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.cms-unpublish-link {
	background-image:url(../images/icons/stop.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline;
	padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.cms-content-pane {
    display: table;
    box-sizing: border-box;
    width: 100%;
    border-spacing: 3px;
    border-collapse: separate;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    position: relative;
    overflow: visible;
}

.cms-content-pane .category-pane {
    width: 25%;
    display: table-cell;
    border: solid #d5d5d5 1px;
    position: relative;
}

.cms-content-pane .articles-pane {
    width: 75%;
    display: table-cell;
    border: solid #d5d5d5 1px;
    position: relative;
}

.cms-content-pane .pane-header {
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: #333;
    background-color: #FAF9F8;
    padding: 5px;
    margin-bottom: 2px;
    border-bottom: solid #d5d5d5 1px;
    position: relative;
    overflow: hidden;
}

.cms-content-pane .pane-header .cat-options {
    width: 65px;
    text-align:right;
    float: right;
    box-sizing: border-box;
}

.cms-content-pane .pane-header .cat-options #add-cat-link {
   display: inline;
   padding: 7px;
   background-image: url(../images/icons/add.png);
   background-position: center;
   background-repeat: no-repeat;
}

.cms-content-pane .pane-header .cat-options #edit-cat-link {
   display: inline;
   padding: 7px;
   background-image: url(../images/icons/pencil.png);
   background-position: center;
   background-repeat: no-repeat;
}

.cms-content-pane .pane-header .cat-options #del-cat-link {
   display: inline;
   padding: 7px;
   background-image: url(../images/icons/delete.png);
   background-position: center;
   background-repeat: no-repeat;
}

.cms-content-pane .pane-sub-header {
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    background-color: #F8F7F3;
    padding: 5px;
    margin-bottom: 2px;
    border-bottom: solid #ccc 1px;
    display: block;
    position: relative;
}

.cms-content-pane .pane-sub-header a {
    margin-left: 5px;
    margin-right: 5px;
    color: #000;
}

.cms-content-pane .pane-sub-header a:hover {
    color: #069;
}

.cms-content-pane .pane-content {
    padding: 5px;
    font-size: 12px;
}

.cms-content-pane .pane-content a {
    margin-left: 3px;
    margin-right: 3px;
}


.cms-content-pane .pane-footer {
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    background-color: #F8F7F3;
    padding: 5px;
    margin-top: 2px;
    border-top: solid #ccc 1px;
}

.cms-content-pane .pane-footer a.nav-link {
    margin-left: 5px;
    margin-right: 5px;
}

.cms-content-pane .pane-footer a.nav-link:hover {
    color: #069;
}

.cms-content-pane .pane-footer a.selected {
	color: #069;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    background-color:#069;
    color: #FFF;
    border: solid #ccc 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.cms-content-pane .category-list {
	padding: 0px;
    margin: 0px;
    list-style: none;
}

.cms-content-pane .category-list li {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 24px;
    padding-left: 10px;
}

.cms-content-pane .category-list li ul {
    list-style: none;
}

.cms-content-pane .category-list li a {
	padding-left: 5px;
    font-weight: normal;
    color: #333;
    display: block;
}

.cms-content-pane .category-list li a:hover {
	background-color: #F3F9FC;    
}

.cms-content-pane .category-list li.selected {
    color: #069;
}

.cms-content-pane .category-list li.selected > a {
    font-weight: bold;
    color: #069;
}

.cms-content-pane #cat-add-dialog {
    left: 150px;
    top: 25px;
}

/**************************************************************************************************
 * CMS DIALOG
 **************************************************************************************************/
 
.cms-dialog {
	position: absolute;
    top: auto;
    left: auto;
    border: solid #ccc 1px;
    background-color: #fff;
    z-index: 1000; 
    display: none;
    overflow: hidden; 
    box-shadow: 4px 4px 3px #aaa;
    -moz-box-shadow: 4px 4px 3px #aaa;
    -webkit-box-shadow: 4px 4px 3px #aaa;
}

.cms-dialog .cms-dialog-title {
	padding: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    background-color: #f9f9f9;
    border-bottom: solid #ccc 1px;
}

.cms-dialog .cms-dialog-content {
	padding: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;  
}

/*****************************************************************************
 * SPLIT VIEW
 ***************/
.split_view {
    width: 100%;
    border-spacing: 2px;
    display: table;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-border-sizing: border-box;
    min-height: 500px;
}

.split_view .left_content {
	display: table-cell;
    width: 35%;    
	border: solid #ccc 1px;
    padding: 0px;
}

.split_view .right_content {
	display: table-cell;
    width: 65%;
    border: solid #ccc 1px;
    /*padding: 2px;*/
}

.split_view .row {
	padding: 6px;    
    border-bottom: solid #e8e8e8 1px;
    position: relative;
}

.split_view .left_content .row:nth-child(odd) {
    background-color: #FBFCFD;
}

.split_view .left_content .row a {
    font-size: 11px;
}

.split_view .left_content .row a.delete-link {
	visibility: hidden;
    position: absolute;
    right: 10px;
    padding: 8px;
    background-image: url(../images/icons/delete.png);
    background-position: center;
}

.split_view .left_content .row a.edit-link {
    visibility: hidden;
    position: absolute;
    right: 32px;
    padding: 8px;
    background-image: url(../images/icons/page_edit.png);
    background-position: center;
}

.split_view .left_content .row:hover a.delete-link,
.split_view .left_content .row:hover a.edit-link {
	visibility: visible;
}

.split_view .left_content .row.selected {
    background-color: #069;
    color: white;
}

.split_view .left_content .row.selected a {
    color: white;
}

.split_view .row.header {
    font-weight: bold;
    background-color:#FBFCFD;
    border-bottom: solid #eee 1px;
    padding: 6px;
}

.split_view .row .nav {
	text-align: right;
    display:inline-block;
    width: 370px;
}

.split_view .row .nav a {
    font-size: 11px;
    font-weight: normal;
}

/****************************************************************
 * TREE
 */

.cms-tree {
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    padding: 10px;
    border: dotted #e5e5e5 1px;
    overflow: hidden;
    padding-left: 20px;
}

.cms-tree ul {
	padding-left: 10px;
}

.cms-tree li {
	list-style: none;
    font-weight: normal;
    clear: both;
	padding-left: 0px;
    margin-left: 0px;
}

.cms-tree .dir_name {
	font-weight: bold;
    color:#333;
    list-style: square;
    list-style-image:url(../images/icons/folder.png);
}

.cms-tree .dir_name span:hover {
    cursor: pointer;
	color:#06C;    
}

.cms-tree .name_col {
    display: inline;
    clear: left;
    width: 200px;
    text-align: left;
}

.cms-tree .options_col {
	clear: right;
    width: 100px;
    text-align: center;
    font-weight: normal;
    display: inline;
    position: absolute;
    right: 0px;
}

.cms-tree .options_col a {
	font-weight: normal;    
}

.dir_group {
    list-style: square;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
}

.collapsed {
	display: none;
}

.expanded {
	display: block;    
}

.dir_group .file_name {
    font-weight: normal;
    overflow: visible;
    position: relative;
}

.file_name:hover {
	background-color: #fcfcfc;    
}
