.cms_style { background-color: #600; }

body {
	color: #000000;
    background-color: #E5E5E5;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td, th, input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	
}

h1 {
	color: #FFFF33;
}

h2 { color: #666; 
}


h3, h4 {
	color: #006633;
}

h5, h6 {
	color: #6699CC;
}

a {
	color: #036;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: none;
}

#maintbl {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	color: #002234;
	border: 1pt solid #cfcfcf;
}

#maintbl #bannArea {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #EDF1F4;
	color: #FFFFFF;
	background-image: url(../images/gifs/bannbg.jpg);
	background-repeat: repeat;
}

.headcol {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.bullet li {
	list-style-image: url(../images/gifs/list-sqr.gif);
	padding-bottom: 5px;
}


.sectionTitle1 {
	color: #600;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 4px;
}
.sectionTitle2 {
	color: #FFFFFF;
	font-weight: bold;
	font-family: Tahoma, "Trebuchet MS", Arial;
	font-size: 18px;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 3px;
}
.sectionTitle3 {
	color: #600;
	font-weight: bold;
	font-family: Tahoma, "Trebuchet MS", Arial;
	font-size: 11px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1DED5;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
	text-transform: uppercase;
}



.sectionText1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: justify;
	line-height: 16px;
	/*border-right: 1pt dashed #C8DBEE;*/
}

.newsTbl {
    border-left-style: solid;
    background-color: #FFF;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-top-color: #CCC;
    border-right-color: #CCC;
    border-left-color: #CCC;
    position: relative;
    box-sizing:border-box;
    width: 99%;
}

.newsTbl td {
	
}

.newsTbl .newsHeader {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #000;
    padding-top: 10px;
    padding-left: 5px;
    border-bottom: solid #CCC 1px;
    padding-bottom: 5px;
    background-color: #fafafa;
}

.newsTbl .newsHeader a {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #000;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
}

.newsTbl .newsHeader a:hover {
    color: #069;
}

.newsTbl .newsSummary {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 20px;
    border-bottom: solid #CCC 1px;
    overflow: visible;
}
.newsTbl .newsContent {
    color: #000;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: solid #CCC 1px;
    position: relative;
}


.newsTbl .newstab {
	color: #336699;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url(../images/gifs/newstab.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 5px;
}

.newsTbl .sqrtab {
    color: #333;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    background-position: left top;
    background-repeat: no-repeat;
    text-transform: capitalize;
    border-bottom: solid #CCC 1px;
}

.newsTbl .bigheader {
   color: #444;
   font-weight: bold;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 18px;
   padding-bottom: 5px;
   padding-top: 15px;
   padding-left: 5px;
   background-position: left top;
   background-repeat: no-repeat;
   border-bottom: solid #CCC 1px;
}


/*#nav td {
	padding-bottom: 5px;
	padding-top: 4px;
}

#nav .sectionhead {
	background: url(../images/gifs/bottom.gif);
}

#nav a:link {
	padding-left: 24px;
	background: url(../images/gifs/cbullet.gif) no-repeat 2% center;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3366CC;
}

#nav a:visited {
	padding-left: 24px;
	background: url(../images/gifs/cbullet.gif) no-repeat 2% center;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3366CC;
}

#nav a:hover {
	padding-left: 24px;
	background: url(../images/gifs/cbullet.gif) no-repeat 2% center;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3399CC;
}*/
.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#home_nav {
	height: 500px;
	width: 150px;
	float: left;
}
#home_center {
	width: 480px;
	height: 500px;
	float: left;
	padding: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}
.center_content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	visibility: hidden;
	position:absolute;
	float: left;
	overflow: scroll;
}
.center_content p {
	margin: 4px;
	line-height: 16px;
}




.nav_section {
	text-align: right;
	background-image: url(../images/png/nav_sect_trans.png);
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	background-position: right;

}
.nav_section a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.nav_section  div {
	padding: 12px;
}

.nav_section_blank {
	text-align: right;
	color: #000000;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.nav_section_blank a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.nav_section_blank div {
	padding: 12px;
}
.navSec {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	border-bottom: solid 1pt #ededde;
}
.cms_nav {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.dataTable { border: 1px solid #aaa; ;
	/*border: solid #999999 1px;*/
}

.dataTable td, th {
	padding: 3px;
	height: 22px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.dataTable tr {
	/*background-color:#F0F0F0;*/
}

.dataTable tr:hover {
	background-color:#F0F0F0;
}

.dataTable th {
	background-color: #600;
	color: #F7F8F1;
}
.medium {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.nice_header {
    font-size: 13px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

input[type=button], input[type=submit] {
    padding: 7px;
    font-size: 11px;
    font-weight: bold;
    background-color:#FFFDF2;
    margin: 1px;
    border: solid #CCC 1px;
    background-image: url(../images/form_btn_bg.png);
    background-repeat: repeat-x;
    cursor: pointer;
    font-family: Tahoma, Geneva, sans-serif;
}

input[type=button]:hover, input[type=submit]:hover {
   	border: solid #aab 1px; 
}

form input.alias {
    color: #444;
    border: dotted #ddd 1px;
    font-style: italic;
    padding: 3px;
}


form td {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;    
}

form select, form input[type=text], form input[type=password], form input[type=email], form textarea {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
}
