@charset "utf-8";

/* CSS Document */

/* IE6 css fixer v0.8: Thu, 22 Apr 2010 06:56:38 +0200 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
#page #bannerArea #left, #page #bannerArea #right, #page #content #home_data, #page #content #home_sidebar, #page #content #page_data, #page #content #navigation, #page #content #sidebar, #page #content #sidebar #navigation, #links_area .site_section, #tab_row, #tab_content, .tab {
    display:inline;
}

/* add zoom:1 to overflow:hidden */
#page #bannerArea, #page #notices_block, #page #content, #page #content #page_data, #page #content #page_data .news_content, #page #navigation #popupContainer .nav_popup, #links_area, #spot_container, #spot_container #spotlight, #art_area, #art_area #art_display {
    zoom:1;
}

/* add zoom:1 to pos:relative elements */
#page, #page #header, #page #content, #menubar, #spot_container, #art_area, #art_area #art_display, #tab_section, #tab_content {
    zoom:1;
}

/* add transparancy */
#page #navigation #popupContainer .nav_popup {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

#spot_container .spotlight_info {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

#spot_container .spotlight_info #textbox {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

#spot_container .spotlight_item {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.img_border {
    padding: 2px;
    border: 2px solid #069;
    margin-left: 4px;
    margin-right: 4px;
}

a {
    color:#069;
    text-decoration: none;
}

a:hover {
    color:#09C;
    text-decoration: none;
}

body {
    background-color: #f9f9f9;
    padding: 15px;
}

/* TinyMCE specific rules */
body.mceContentBody {
    background: #FFF;
    padding: 3px;
}

body, td, th {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
    color: #8A721E;
}

pre {
    border: solid #ddd 1px;
    background-color: #fafafa;
    padding: 10px;
    overflow: auto;
}

#page {
    width: 980px;
    border: solid #ccc 1px;
    background-color:#FFF;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 4px 4px 5px #ccc;
    -moz-box-shadow: 4px 4px 5px #ccc;
    -webkit-box-shadow: 4px 4px 5px #ccc;
}

#page #header {
    height: 85px;
    position: relative;
    z-index: 10;
    color: #000;
}

#page #header #site_logo {
    position:absolute;
    height: 40px;
    left: 20px;
    top: 10px;
    font-size: 18px;
    color: #000;
    font-family: Tahoma;
}

#page #header #site_title {
    position:absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 20px;
    top: 10px;
    font-size: 24px;
    color: #000;
    font-family: Tahoma;
}

#page #header #search_area {
    position:absolute;
    right: 20px;
    top: 20px;
    color: #000;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

#page #header #search_area td {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #000;
}

#page #navigation {
    background-color: #333;
    text-align:center;
    clear: both;
    text-align: center;
    overflow:hidden;
    padding-left: 12px;
}

#page #navigation a {
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

#navigation ul, #navigation ul ul {
    margin: 0px;
    padding: 0px;
}

#navigation ul li {
    float: left;
    list-style: none;
    padding-top: 10px;
    padding-bottom:10px;
}

#navigation ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}

/*#navigation ul li a:hover {
  color: #ff3;    
}*/

#navigation ul li ul {
    margin-left: 0px;
    padding-top: 5px;
    padding-left: 0px;
    position: absolute;
    top: auto;
    left: auto;
    display: none;
    background-color: inherit;
    z-index: 20;
}

#navigation ul li:hover {
    background-color:#f9f9f9;
}

#navigation ul li:hover a {
    color: #333;
}

#navigation ul li:hover ul {
    display: block;
    left: inherit;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 3px #333;
    -moz-box-shadow: 3px 3px 3px #333;
    -webkit-box-shadow: 3px 3px 3px #333;
}

#navigation ul li ul li {
    float: none;
    padding: 7px;
    padding-left: 10px;
    width: 16em;
    text-align: left;
    position: relative;
}

#navigation ul li ul li:hover {
    background-color: #333;
}

#navigation ul li ul li:hover a {
    color:#f9f9f9;
    font-weight: normal;
    display: block;
}

#navigation ul li ul li.divider {
    height: 1px;
    background-color: #999;
    padding: 0px;
    width: 100%;
}

#navigation ul li ul li a {
    color:#FFF;
    font-weight: normal;
    display: block;
}

#navigation ul li ul li ul {
    display:none;
}

#navigation ul li ul li ul li {
    display:none;
}

#navigation ul li ul li:hover ul {
    left: 16em;
    top: 5px;
    margin-top: -10px;
    display: block;
}

#navigation ul li ul li:hover ul li {
    display:block;
}

#navigation ul li ul li:hover ul li a {
    color: #333;
}

#navigation ul li ul li:hover ul li:hover a {
    color: #f9f9f9;
}

#page #bannerArea {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding: 5px;
    overflow: hidden;
}

#page #bannerArea #left {
    width: 650px;
    border: solid #ccc 1px;
    float: left;
    clear: left;
}

#page #bannerArea #right {
    width: 270px;
    padding-left: 10px;
    float: right;
    clear: right;
}

#right .right_content {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
}

#right .right_content ul {
    margin-left: 10px;
    padding-left: 0px;
    list-style:none;
}

#right .right_content ul li {
    margin-bottom:10px;
}

#right .right_content .highlight {
    color:#999;
}

#page #notices_block {
    clear: both;
    overflow: hidden;
    display: table;
    margin-bottom: 10px;
    border-collapse: separate;
    border-spacing: 5px;
}

#page #notices_block .nav {
    width: 250px;
    display: table-cell;
    border-right: dashed #ccc 1px;
    padding: 5px;
    padding-right: 10px;
    vertical-align: top;
}

#page #notices_block .main {
    width: 700px;
    margin-left: 10px;
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
    /* [disabled]border: solid 1px #ccc;
*/
    line-height: 18px;
}

.block_title {
    color:#333;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#page #content {
    position: relative;
    overflow: hidden;
    padding: 10px;
    clear:both;
    padding-top: 20px;
}

#page #content #home_data {
    width: 640px;
    clear:left;
    float:left;
    background-color: #fff;
}

#page #content #home_data .component_field {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#page #content #home_sidebar {
    color:#FFF;
    float: right;
    width: 280px;
    clear:right;
}

#page #content #page_data {
    float: left;
    clear:left;
    width: 630px;
    padding: 15px;
    overflow:hidden;
    background-color: #FFF;
    line-height: 18px;
}

#page #content #page_data p {
    margin-top: 2px;
}

#page #content #page_data .news_title {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    color: #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#page #content #page_data .content_title {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    padding-bottom: 5px;
    border-bottom: dotted #ccc 1px;
    margin-top: 5px;
}

#page #content #page_data .content_title a {
    text-decoration: none;
    color: #069;
}

#page #content #page_data .content_title a:hover {
    color: #333;
}

#page #content #page_data .news_content {
    overflow:hidden;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 20px;
}

#page #content #page_data .news_content a {
    text-decoration: none;
    color:#069;
}

#page #content #page_data .news_content a:hover {
    color: #06F;
}

/*****
 * The following is kept for compartibility sake with some component pages such as
 * the PHOTO Gallery
 */
#page #content #navigation {
    float:right;
    clear: right;
    padding: 10px;
    border: solid #ccc 1px;
    width: 200px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

#page #content #sidebar {
    background-color: #FFF;
    padding: 10px;
    float:right;
    clear: right;
    width: 240px;
}

#page #content #sidebar #navigation {
    float:right;
    clear: right;
    padding: 10px;
    border: solid #ccc 1px;
}

#page #content #related_info {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*#related_info ul {
   margin: 4px;
   list-style: none;
   padding-left: 2px;

   margin-left: 4px;
   padding: 4px;
   list-style: none;
}

#related_info ul > li {

   font-weight: bold;
   font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
}

#related_info ul > li > a {
   color:#069;
   text-decoration: none;
   border-bottom: dotted #ccc 1px;
   display: block;
   padding-bottom: 3px;
}

#related_info ul > li > a:hover {
  color: #066;   
}

#related_info ul li ul li {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
}

#related_info ul li ul li:hover {
  background-color: #f5f5ff;   
}

#related_info ul li ul li a {
  font-size: 11px;
   font-family:Tahoma, Geneva, sans-serif;
   text-decoration: none;
  color: #333;
  font-weight: normal;
  border: none;
}
*/
ul.kan-list {
    padding: 0px;
    margin: 4px;
    list-style: none;
}

ul.kan-list li {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding-top: 3px;
    padding-bottom: 3px;
    list-style: none;
}

ul.kan-list .list-header {
    font-size: 13px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: dotted #ccc 1px;
}

ul.kan-list li > span {
    color: #999;
    width: 45px;
    display: inline-block;
}

ul.kan-news-list li a {
    display: inline;
    border: none;
}

#related_info ul {
    margin: 4px;
    list-style: none;
    padding-left: 2px;
}

#related_info .rc_ul {
    margin-left: 4px;
    padding: 4px;
    list-style: none;
}

#related_info ul .rc_title {
    margin-top: 10px;
    border-bottom: dotted #999 1px;
    margin-bottom: 6px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}

#related_info ul .rc_title a {
    color:#333;
    text-decoration: none;
}

#related_info ul .rc_title a:hover {
    color: #069;
}

#related_info ul .rc_li {
    border-bottom: dotted #ccc 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
}

#related_info ul .rc_li:hover {
    background-color: #FFFCF4;
}

#related_info ul .rc_li a {
    font-size: 11px;
    font-family:Tahoma, Geneva, sans-serif;
    text-decoration: none;
    color: #333;
}

#related_info ul .rc_li:hover a {
    color: #069;
}

#page #footer {
    clear:both;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    text-align:center;
    /*padding-top: 5px;*/
   color: #f9f9f9;
    line-height: 18px;
    /*border-top: dashed #ccc 1px;*/
   background-color: #111;
    overflow: hidden;
}

#page #footer p {
    margin: 2px;
}

#page #footer .site_footer_text {
    width: 35%;
    background-color: #191919;/*vertical-align: middle;
    text-align:center;*/
}

#page #footer #links_area {
    background-color: #111;
    padding: 8px;
    text-align: left;
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
    box-sizing: border-box;
    float: left;
    clear: left;
}

#page #footer a {
    color:#ffa;
    text-decoration: none;
}

#page #footer a:hover {
    color: #FF3;
}

#links_area .link_group {
    display: table-cell;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px;
    padding: 5px;
    border: solid #333 1px;
    background-color: #222;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#links_area .link_group .link_group_header {
    font-weight: bold;
}

#links_area .link_group ul {
    margin-left: 10px;
    margin-top: 5px;
    padding: 0px;
    list-style: none;
}

/*********************************************************************
 * SECTION PAGE CSS NAVIGATION MENU
 *********************************************************************/
#menubar {
    width: 100%;
    /*padding-top: 10px;
   padding-bottom: 10px;*/
   position: relative;
}

#menubar a {
    margin-left: 20px;
    margin-right: 20px;
    color:#FF0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

#menubar a:hover {
    color:#FFF;
}

#page #navigation #popupContainer {
    position:absolute;
    left: 0px;
    top: auto;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    height: 0px;
    position:absolute;
    clear: both;
    width: 100%;
}

#page #navigation #popupContainer .nav_popup {
    position: absolute;
    color: #000;
    display: none;
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: left;
    overflow: hidden;
    background-color: #FFF;
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: #f9f9f9;
    border-left: dashed #ccc 1px;
    border-right: dashed #ccc 1px;
    border-bottom: dashed #ccc 1px;
    clear: both;
}

/*#page #popupContainer .nav_popup .column {
    display:block;
    padding-right: 30px;
    float: left;
}

#page #popupContainer .nav_popup .menu_header {
    font-family: Tahoma, Geneva, sans-serif;
    font-size:11px;
    font-weight: bold;
    padding-top: 10px;
}

#page #popupContainer .nav_popup .menu_link {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 11px;
}*/

#page #navigation #popupContainer .nav_popup a {
    font-size: 11px;
    font-weight: normal;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 12em;
    color:#333;
}

#page #navigation #popupContainer .nav_popup a:hover {
    background-color:#E8ECF9;
    margin: 0px;
    color: #000;
}

/*#page #popupContainer .menu_header a {
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: normal;
    margin: 0px;
    font-weight: bold;
}*/

/*****************************************************************************************
 * COMPONENTS PAGE
 *****************************************************************************************/
#page #comp_container {
    background-color:#FFF;
    padding: 5px;
}

/******************************************************************************************
 * Side Bar Style
 ******************************************************************************************/
#ql_sidebar {
    padding: 5px;
}

#ql_sidebar .ql_header {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #036;
    margin-top: 10px;
}

#ql_sidebar .ql_item {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    margin-left: 10px;
    padding-top: 5px;
}

#ql_sidebar .ql_item a {
    text-decoration: none;
    color:#333;
}

#ql_sidebar .ql_item a:hover {
    text-decoration: none;
    color:#999;
}

/**
 * SITE LINKS DEFINITION
 **/
#links_area {
    overflow:hidden;
    background-position: right bottom;
    background-repeat: no-repeat;
}

#links_area .site_section {
    width:190px;
    padding: 5px;
    float:left;
    height: 150px;
}

#links_area .site_section .section_header {
    color:#000;
    font-family:Verdana, Geneva, sans-serif;
    font-size:13px;
    font-weight:bold;
    padding-bottom:5px;
    text-transform: uppercase;
}

#links_area .site_section .page_link {
    padding-left:20px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-image: url(../../../../../themes/silver/css/default/arrow.png);
    background-repeat: no-repeat;
    background-position: 8px center;
}

#links_area .site_section .page_link a {
    color: #069;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:13px;
    text-decoration: none;
}

#links_area .site_section .page_link a:hover {
    color: #666;
}

#links_area .site_section .page_link a:visited {
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
}

/**************
 * SITE MAP DEFINITION
 ***************/
#jump_menus {
    width:99%;
    color:#600;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:11px;
    font-weight:bold;
    height:100%;
}

#jump_menus #menus_header {
    padding: 5px;
    color:#333;
    background-position: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
}

#jump_menus .jump_header {
    color: #069;
    padding:4px;
    margin-top: 3px;
    margin-left: 5px;
}

#jump_menus .jump_content {
    padding:5px;
    font-weight:normal;
    margin-left: 5px;
}

#jump_menus .jump_content select {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
}

/******************************************************************************************
 * TAB SPECIFIC CSS
 *******************************************************************************************/
#tab_section {
    position: relative;
}

#tab_row {
    height: 30px;
    float: left;
    border-bottom: solid #ccc 1px;
    width: 96%;
    padding-left: 16px;
    z-index: 4;
}

#tab_row .selected {
    background-color: #FFF;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: #FFFFFF;
    padding-top: 10px;
    margin-top: 0px;
    z-index: 3;
}

#tab_row .tab {
}

#tab_row a {
    color: #444;
}

#tab_row a:hover {
    color: #333;
}

#tab_row .selected a {
    color: #000;
}

#tab_content {
    width: 100%;
    top: 0px;
    position:relative;
    float: right;
    height: 150px;
    overflow: auto;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    border-left-color: #CCC;
    background-color: #FFF;
    font-size: 11px;
}

.tab {
    float:left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-top-color: #CCC;
    border-right-color: #CCC;
    background-color: #f1f1f1;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCC;
    margin-top: 4px;
}

.tab a:link, .tab a:visited {
    font-weight:bold;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

/***************************************************************************************************
 * EVENTS CSS
 **************************************************************************************************/

.event_tbl {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.event_tbl ul {
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 0px;
}

.event_tbl a {
    color: #6C2300;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    text-decoration:none;
}

.event_tbl a:hover {
    color:#000;
}

.event_tbl a:visited {
    font-weight:normal;
    font-family:Verdana, Geneva, sans-serif;
    font-size: 11px;
}

.event_tbl .header {
    padding: 5px;
}

.event_tbl .details {
    font-family:Tahoma, Geneva, sans-serif;
    font-size:11px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 3px;
}

form {
	margin: 0px;
}

form select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;    
}

form input[type=text], form textarea {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px; 
    border: solid #ddd 1px;
    padding: 3px;
}

form input[type=button], form input[type=reset], form input[type=submit] {
	padding: 5px;
    /*border: solid #999 1px;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
