<div class="cms-bordered" style="width:99%; margin-left: auto; margin-right: auto; overflow:hidden;">
	<div class="cms-bordered" >Header Content Goes Here</div>
    <div class="cms-bordered" >Center Content Goes Here</div>
    <div class="cms-bordered" >Footer Content Goes Here</div>
</div>
<div style="clear:both; height:0px;"></div>