<div class="cms-bordered" style="width:100%; overflow:hidden;">
	<div class="cms-bordered" style="clear:both; width: 100%;">Header Content Goes Here</div>
	<div class="cms-bordered" style="width: 63%; float: left;">Left Content Goes Here</div>
    <div class="cms-bordered" style="width: 35%; float: right;">Right Content Goes Here</div>
    <div class="cms-bordered" style="clear:both; width: 100%;">Footer Content Goes Here</div>
</div>
<div style="clear:both; height:0px;"></div>