<div class="cms-bordered" style="width:100%; overflow:hidden;">
	<div class="cms-bordered" style="width: 35%; float: left;">Left Content Goes Here</div>
    <div class="cms-bordered" style="width: 64%; float: right;">Right Content Goes Here</div>
</div>
<div style="clear:both; height:0px;"></div>