@charset "utf-8";

/* CSS Document */

/* IE6 css fixer v0.8: Thu, 22 Apr 2010 06:56:38 +0200 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
#page #bannerArea #left, #page #bannerArea #right, #page #content #home_data, #page #content #home_sidebar, #page #content #page_data, #page #content #navigation, #page #content #sidebar, #page #content #sidebar #navigation, #links_area .site_section, #tab_row, #tab_content, .tab {
    display:inline;
}

/* add zoom:1 to overflow:hidden */
#page #bannerArea, #page #notices_block, #page #content, #page #content #page_data, #page #content #page_data .news_content, #page #navigation #popupContainer .nav_popup, #links_area, #spot_container, #spot_container #spotlight, #art_area, #art_area #art_display {
    zoom:1;
}

/* add zoom:1 to pos:relative elements */
#page, #page #header, #page #content, #menubar, #spot_container, #art_area, #art_area #art_display, #tab_section, #tab_content {
    zoom:1;
}

/* add transparancy */
#page #navigation #popupContainer .nav_popup {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

#spot_container .spotlight_info {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

#spot_container .spotlight_info #textbox {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

#spot_container .spotlight_item {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.img_border {
    padding: 2px;
    border: 2px solid #930;
    margin-left: 4px;
    margin-right: 4px;
}

a {
    color:#930;
    text-decoration: none;
}

a:hover {
    color:#593C1E;
    text-decoration: none;
}

body {
    background-color: #E7E3DE;
}

body, td, th {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h2, h3, h4, h5 {
	font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color:#600; 
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color:#600; 
}

h3 {
    font-size: 18px;
    color:#600; 
}

h4 {
    font-size: 16px;
    color:#600; 
}

pre {
    border: solid #ddd 1px;
    background-color: #fafafa;
    padding: 10px;
    overflow: auto;
}

#page {
    width: 980px;
    background-color:#FFF;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    border: solid #bbb 1px;
}

#page #header {
    height: 120px;
    position: relative;
    color: #FFF;
    background-color: #501F16;
}

#page #header #site_logo {
    position:absolute;
    height: 40px;
    left: 20px;
    top: 10px;
    font-size: 18px;
    color: #000;
    font-family: Tahoma;
}

#page #header #title_block {
    position:absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 20px;
    top: 10px;
}

#page #header #title_block a {
    color: #fff;
}

#page #header #title_block a:hover {
    color: #ffd;
}

#page #header #title_block h2 {
    font-size: 29px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 5px;
}

#page #header #title_block h3 {
    font-size: 18px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 25px;
    color: #FFF;
}

#page #header #search_area {
    position:absolute;
    right: 20px;
    top: 20px;
    color: #FFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

#page #header #search_area td {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #000;
}

#page #header #navigation {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-right: 30px;
}

#page #header #navigation ul li {
    float: left;
    list-style: none;
    padding: 5px;
    background-color:#C46342;
    margin-right: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

#page #header #navigation ul li a {
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

#page #header #navigation ul li:hover {
    background-color: #FFF;
}

#page #header #navigation ul li:hover a {
    color: #600;
}

#page #sub_nav {
	padding: 4px;  
    overflow: hidden;  
}

#page #sub_nav .sub_page_name {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 24px;
    color: #930;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

#page #sub_nav .list_group {
    float: right;
}

#page #sub_nav .list_group ul {
    list-style: none;
}

#page #sub_nav .list_group li {
    float: left;
    margin-right: 15px;
    padding-left: 10px;
    background-image: url(arrow.gif);
    background-repeat:no-repeat;
    background-position: left;
}


#page #bannerArea {
    display: block;
    overflow: hidden;
    border-bottom: solid #f9f9f9 2px;
    height: 280px;
    position: relative;
    box-shadow: 0px 2px 5px #999;
    -webkit-box-shadow: 0px 2px 5px #999;
    -moz-box-shadow: 0px 2px 5px #999;
}

#page #bannerArea #banner_block {
	position: relative;    
}

#page #bannerArea #home_text {
    position: absolute;
    right: 40px;
    top: 10px;
    height: 300px;
    width: 420px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 20px;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    box-sizing: border-box;
    /*border: solid #f9f9f9 1px;*/
}

#page #notices_block {
    clear: both;
    overflow: hidden;
    display: table;
}

#page #notices_block .nav {
    width: 250px;
    display: table-cell;
    border-right: dashed #ccc 1px;
    padding: 5px;
    padding-right: 10px;
    vertical-align: top;
}

#page #notices_block .main {
    width: 680px;
    margin-left: 10px;
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
}

.block_title {
    color:#333;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#page #content {
    position: relative;
    overflow: hidden;
    padding: 5px;
    clear:both;
    padding-top: 20px;
}

#page #content #location_bar {
    margin-left: 8px;
    margin-right: 8px;
    padding: 5px;
    border-bottom: dashed #dedede 1px;
}

#page #content #location_bar a {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

#page #content #home_content {
    width: 580px;
    clear:left;
    float:left;
    padding: 10px;
    margin-left: 15px;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 18px;/*border: solid #ccc 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;*/
}

#page #content #home_content .navbar {
    display: none;
}

.article_summary h2 {
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 3px;
    margin-bottom: 15spx;
    clear: both;
    border-bottom: 2px dotted #F7E4C4;
    padding-bottom: 3px;
    position: relative;
}

.article_summary h2 a.feed-link {
	position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    top: 0px;
    display: block;
    background-image: url(feed.png);
    background-repeat: no-repeat;
    background-position: center;    
}

.article_summary h3 {
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 3px;
    margin-bottom: 0px;
    clear: both;
    border-bottom: dotted 1px #ccc;
    padding-bottom: 5px;
}

.article_summary h3 a {
    color: #930;
}

.article_summary h3 a:hover {
    color: #630;
}

.article_summary .summary_content {
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;
}

.article_summary .summary_content p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.article_summary .summary_content img {
    width: 120px;
    border: solid #ccc 1px;
    padding: 1px;
    float: left;
    margin-right: 5px;
}

.article_summary .summary_footer {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    padding: 4px;
    background-color: #fcfcff;
}

.article_summary .summary_footer a {
	color: #09C;    
}

.article_summary .summary_footer a:hover {
	color: #069; 
}

.article_summary .summary_footer .comment_info {
    background-image: url(comments.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 20px;
}

.article_summary .summary_footer span {
    color: #333;
}

#page #content #home_sidebar {
    color:#000;
    float: right;
    width: 280px;
    clear:right;
}

#page #content #home_sidebar h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family:Georgia, "Times New Roman", Times, serif;
    color: #630;
}

#page #content #home_sidebar ul {
    padding: 4px;
    margin: 0px;
    list-style:  square;
    padding-left: 15px;
}

#page #content #home_sidebar ul li {
    margin-bottom: 8px;
}

#page #content #home_sidebar ul li a {
    font-size: 13px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #900;
}

#page #content #home_sidebar ul li a:hover {
    color: #333;
}

#page #content #page_data {
    float: right;
    clear:right;
    width: 700px;
    padding: 15px;
    overflow:hidden;
    background-color: #FFF;
}

#page #content #sidebar {
    background-color: #FFF;
    padding: 10px;
    float:left;
    clear: left;
    width: 210px;
}

#page.layout1 #page_data {
    float: right !important;
    clear: right !important;
}

#page.layout1 #sidebar {
    float: left !important;
    clear: left !important;
}

#page.layout2 #page_data {
    float: left !important;
    clear: left !important;
}

#page.layout2 #sidebar {
    float: right !important;
    clear: right !important;
}

#page.layout3 #page_data {
    width: 100% !important;
    clear: both !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#page #content #page_data .news_title {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    color: #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#page #content #page_data .content_title {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    padding-bottom: 5px;
    border-bottom: dotted #ccc 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#page #content #page_data .content_title a {
    text-decoration: none;
    color: #069;
}

#page #content #page_data .content_title a:hover {
    color: #333;
}

#page #content #page_data .news_content {
    overflow:hidden;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 18px;
    text-align: justify;
}

#page #content #page_data .news_content p {
	margin-top: 0px;    
}

#page #content #page_data .news_content .article-image {
	padding: 2px;
    border: solid #ccc 1px;
    float: left;
    clear: left;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 200px;  
}

#page #content #page_data .news_content a {
    text-decoration: none;
    color:#069;
}

#page #content #page_data .news_content a:hover {
    color: #06F;
}



#page #content #sidebar #navigation {
    float:right;
    clear: right;
    padding: 10px;
    border: solid #ccc 1px;
}

#page #content #related_info {
    padding-top: 10px;
    padding-bottom: 10px;
}

#related_info h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 12px;
}

#related_info ul {
    margin: 4px;
    list-style: none;
    padding-left: 2px;
}

#related_info ul li {
    list-style-image: url(arrow.gif);
	margin-left: 10px;
}

#related_info ul li a {
    color:#900;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#related_info ul li a:hover {
    color: #333;
    background-color: #FCFAF3;
}

#related_info ul .rc_li {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

#related_info ul .rc_li:hover {
    background-color: #f5f5ff;
}

#related_info ul .rc_li a {
    font-size: 11px;
    font-family:Tahoma, Geneva, sans-serif;
    text-decoration: none;
    color: #333;
}

#related_info ul .rc_li:hover a {
    color: #6F4924;
}

.article_list {
	/*border: solid #F5EBDC 1px;*/
}

.article_list h3 {
    border-bottom: 2px dotted #EFDFC7;
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
    padding-bottom: 3px;
    position: relative;
    font-size: 18px;
}

.article_list h3 a.feed-link {
	position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    top: 0px;
    display: block;
    background-image: url(feed.png);
    background-repeat: no-repeat;
    background-position: center;    
}

.article_list ul {
	padding: 5px;
    list-style-image: url(arrow.gif);
    list-style-position: inside;
}

.article_list ul li {
	padding-bottom: 10px;   
}

.article_list ul li span {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #333;
}

.category-description {
	margin-bottom: 20px;    
}

#page #footer {
    clear:both;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    line-height: 18px;
    box-shadow: 0px -2px 5px #999;
    -webkit-box-shadow: 0px -2px 5px #999;
    -moz-box-shadow: 0px -2px 5px #999;
}

/*#page #footer a {
    color:#833510;
    text-decoration: none;
}

#page #footer a:hover {
    color: #960;
}*/


/***********************************************
 * COMPONENT PAGE CSS
 **********************************************/
#comp-page {
    padding: 5px;
    overflow: hidden;
}

#comp-page .comp-page-nav {
    float: right;
    clear: right;
    width: 240px;
    padding: 10px;
}

/*#comp-page .comp-page-nav ul {
    list-style: none;
    margin-bottom: 10px;
}
#comp-page .comp-page-nav li {
    margin-bottom: 6px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}*/
#comp-page .comp-page-data {
    width: 640px;
    padding: 10px;
    float: left;
    clear: left;
    line-height: 20px;
    text-align: justify;
}

.comp-page-data h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: #333;
    font-weight: normal;
}

/*#comp-page ul, #comp-page ol {
    padding: 0px;
    padding-left: 15px;
    margin: 5px;
}
#comp-page li {
    margin-bottom: 10px;
}*/



#comment-form {
	border: dotted #ddd 1px;
    padding: 10px;    
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#comment-form div {
    overflow: hidden;
    padding: 5px;
}

#comment-form label {
	display: inline-block;
   	padding: 3px;
    font-weight: bold; 
   	padding-right: 6px;
    float: left;
    width: 70px;
    text-align: right;
}

#comment-form input[type=text],
#comment-form input[type=email],
#comment-form input[type=url] {
	border: solid #ddd 1px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  
    font-size: 11px;
    width: 300px; 
    padding: 3px;
}

#comment-form textarea {
    width: 400px;
    height: 150px;
    border: solid #ccc 1px;
    padding: 5px;
}

#comment-form #comment-buttons {
	padding: 10px;
    padding-left: 85px;
}

#comment-form .comment-text {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #999;
}

#comment-form input[type=button],
#comment-form input[type=submit],
#comment-form input[type=reset] {
    padding: 8px;
    /*border: solid #ddd 1px;*/
    font-size: 11px;
    font-weight: bold;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#comment-list {
	margin: 0px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 0px;
    list-style: none;  
}

#comment-list li {
	margin-bottom: 10px;
    border: solid #ddd 1px;  
    border-bottom: solid #bbb 2px;
}

#comment-list li > div {
    padding: 5px;
}

#comment-list li .comment-info .date {
 	font-size: 10px;
    color: #069;   
}

#comment-list li .comment-info .moderation {
	color: #930;
    font-weight: bold;    
}