/* CSS Document */

#spots {
    position: relative;
    display: block;
    width: 100%;
    height: 280px;
    overflow: hidden;
}

#spots .spot-content {
	position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    height: 280px;
}

#spots .spot-content:first-child {
    display: block;
}

#spots .spot-desc {
    position: absolute;
    left: 0px;
    height: 50px;
    width: 980px;
    padding: 5px;
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 11px;
    line-height: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    bottom: 0px;
}