@charset "utf-8";
/* CSS Document */

#editor_overlay {
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display:none;
}
#editor_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display:none;
}
#editor_container #editor_wrapper {
    background-color: #fff;
    width: 900px;
    height: 550px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
}
#editor_container #editor_wrapper #editor_bar {
    padding: 5px;
    text-align: right;
    font-size: 11px;
}

#editor_container #editor_wrapper #editor_bar a {
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
}

#editor_container #editor_wrapper #editor_box {
    border: solid #efefef 1px;
}


.dir_tree {
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    padding: 10px;
    border: dotted #e5e5e5 1px;
    overflow: auto;
    height: 200px;
    padding-left: 20px;
}

.dir_tree ul {
	padding-left: 10px;
}

.dir_tree li {
    position: relative;
	list-style: none;
    font-weight: normal;
    clear: both;
	padding: 0px;
    margin-left: 0px;
}

.dir_tree .dir_name {
	font-weight: bold;
    color:#333;
    list-style: square;
    list-style-image:url(../images/icons/folder.png);
}

.dir_tree .dir_name span:hover {
    cursor: pointer;
	color:#06C;    
}

.dir_tree .name_col {
    display: inline-block;
    clear: left;
    width: 200px;
    text-align: left;
}

.dir_tree .options_col {
	clear: right;
    width: 100px;
    text-align: center;
    font-weight: normal;
    display: inline;
    position: absolute;
    right: 0px;
    top: 6px;
}

.dir_tree .options_col a {
	font-weight: normal;    
}

.dir_group {
    list-style: square;
    padding: 2px 0px;
    margin: 0px;
    padding-left: 10px;
}

.collapsed {
	display: none;
}

.expanded {
	display: block;    
}

.dir_group .file_name {
    font-weight: normal;
    overflow: visible;
    position: relative;
    padding: 2px 0px;
    list-style-image:url(../images/icons/bullet_blue.png);
}

.file_name:hover {
	background-color: #fcfcfc;    
}