
/* CSS Document */

#comp-page {
	padding: 5px;
    margin-left: auto;
    margin-right: auto;    
}

#comp-page h2 {
	margin-top: 0px;
    margin-bottom: 8px;
    font-size: 18px;   
}

#gallery-list ul li {
	display: inline;
    list-style: none;
    float: left;
    background-color: #333;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#gallery-list ul li:hover {
	background-color: #454545;  
}

#gallery-list ul li .img_block {
	width: 160px;
    height: 90px;
    padding: 5px;
    text-align: center;
}

#gallery-list ul li .title_block {
	width: 160px;
    padding: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

#gallery-list-vertical {
	float: right;
    width: 190px;
    padding: 5px;
    border: solid #ccc 1px;
    height: 380px; 
    overflow: auto;
    display: none;
}

#gallery-list-vertical ul {
	margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;    
}

#gallery-list-vertical ul li {
    list-style: none;
    float: left;
    background-color: #333;
    margin: 5px;
}

#gallery-list-vertical ul li:hover {
	background-color: #454545;  
}

#gallery-list-vertical ul li .img_block {
	width: 160px;
    height: 90px;
    padding: 5px;
    text-align: center;
}

#gallery-list-vertical ul li .title_block {
	width: 160px;
    padding: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

#gal-content {
	width: 600px;
    float: left;    
}

/*preload classes*/
.svw {
    width: 50px;
    height: 20px;
    background: #fff;
}

.svw ul {
    position: relative;
    left: -999em;
}

/*core classes*/
.stripViewer {
    position: relative;
    overflow: hidden;
    border: 2px solid #999;
    margin-left: auto;
    margin-right: auto;
}

.stripViewer ul { /* this is your UL of images */
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 1%;
    list-style-type: none;
    overflow: hidden;
}

.stripViewer ul li {
    float:left;
    margin: 0px;
    padding: 0px;
}

.stripTransmitter {
    overflow: auto;
    width: 1%;
    margin-left: auto;
    margin-right: auto;
    line-height:normal;
}

.stripTransmitter ul {
    margin: 0px;
    padding: 0px;
    position: relative;
    list-style-type: none;
}

.stripTransmitter ul li {
    width: 20px;
    float:left;
    margin: 0 1px 1px 0;
    padding: 0px;
}

.stripTransmitter a {
    font: bold 10px Verdana, Arial;
    text-align: center;
    line-height: 22px;
    background: #999;
    color: #fff;
    text-decoration: none;
    display: block;
}

.stripTransmitter a:hover, .stripTransmitter a.current {
    background: #555;
    color: #fff;
}

/*tooltips formatting*/
.tooltip {
    padding: 0.5em;
    background: #fff;
    color: #000;
    border: 5px solid #dedede;
}
