@charset "utf-8";
/* CSS Document */

#comment_list {
	padding: 5px;
   border: solid #ccc 1px;
   font-family: Tahoma, Geneva, sans-serif
}

#comment_list #comment_title {
	padding: 5px;
}

#comment_list #comment_text {
	padding: 5px;
   margin-bottom: 5px;
}

#comment_list #comment_group {
	border: solid #ccc 1px;   
   margin-bottom: 5px;
}

#comment_list .alt_group { background-color:#ECEEF0; }

#comment_form_area {
   margin-top: 10px;
   border: solid #ccc 1px;
   padding: 5px;
}

#comment_form_area div  {
	padding: 5px;   
}

#form_area_title {
	padding-bottom: 3px;
   border-bottom: dashed #ccc 1px;
   font-weight: bold;
   margin-bottom: 5px;
}


#comment_form_area .boldText  {
	font-weight:bold;
}

#comment_form_area textarea {
	font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
   width: 250px;
   height: 70px;
}

#comment_form_area input {
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
}