
body, td, th, input {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;	
}

h1 {
	color: #FFFF33;
}

h2 { color: #666; 
}


h3, h4 {
	color: #006633;
}

h5, h6 {
	color: #6699CC;
}

a {
	color: #036;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: none;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#page {
}

#page #header {
    background-color:#600;
    color:#FFF;
    z-index: 10;
}

#page #site-info-bar {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #580000;
    color: #FFF;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #790000;
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    overflow: hidden;
    padding: 8px;
    z-index: 20;
}

#page #site-info-bar #sitename {
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    padding: 8px;
}

#page #content-wrapper {
    background-color: #f5f5f5;
    padding: 5px;
    overflow: hidden;
}

#page #content-wrapper #content-header {
    background-color: #FFF;
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: solid #ccc 1px;
    margin-left: auto;
    margin-right: auto;
    width: 1010px;
    margin-bottom: 5px;
    text-transform: capitalize;
    display: none;
}

#page #content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    clear: both;
    position: relative;
    margin-top: 5px;
}

#page #content #nav {
    float: left;
    width: 224px;
    padding: 5px;
    border: solid #ddd 1px;
    clear: left;
    background-color: #FFF;
}

#nav {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

#nav ol {
	margin: 10px;
	padding-left: 20px;
}

#nav ol li {
	padding: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
}

#nav ol li.current {
	color:#09C;
	font-weight: bold;
}

#page #content #main {
    float: right;
    clear: right;
    width: 770px;
    padding: 5px;
    border: solid #ddd 1px;
    background-color: #FFF;
    position: relative;
}

#page #footer {
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    text-align:center;
    padding: 10px;
    clear: both;
    overflow: visible;
}

#maintbl {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	color: #002234;
	border: 1pt solid #cfcfcf;
}

#maintbl #bannArea {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #EDF1F4;
	color: #FFFFFF;
	background-image: url(../assets/images/gifs/bannbg.jpg);
	background-repeat: repeat;
}

.headcol {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.bullet li {
	list-style-image: url(../assets/images/gifs/list-sqr.gif);
	padding-bottom: 5px;
}


.sectionTitle1 {
	color: #600;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 4px;
}
.sectionTitle2 {
	color: #FFFFFF;
	font-weight: bold;
	font-family: Tahoma, "Trebuchet MS", Arial;
	font-size: 18px;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 3px;
}
.sectionTitle3 {
	color: #600;
	font-weight: bold;
	font-family: Tahoma, "Trebuchet MS", Arial;
	font-size: 11px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1DED5;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
	text-transform: uppercase;
}



.sectionText1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: justify;
	line-height: 16px;
	/*border-right: 1pt dashed #C8DBEE;*/
}

.newsTbl {
    border-left-style: solid;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-top-color: #e5e5e5;
    border-right-color: #e5e5e5;
    border-left-color: #e5e5e5;
    float: right;
    clear: right;
}

.newsTbl td {
	
}

.newsTbl .newsHeader {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #600;
    padding-top: 15px;
    padding-left: 5px;
    border-bottom: solid #e5e5e5 1px;
    padding-bottom: 5px;
}

.newsTbl .newsHeader a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #600;
	text-decoration: none;
}

.newsTbl .newsHeader a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

.newsTbl .newsSummary {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 20px;
    border-bottom: solid #e5e5e5 1px;
}

.newsTbl .newstab {
	color: #336699;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url(../assets/images/gifs/newstab.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 5px;
}

.newsTbl .sqrtab {
    color: #600;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    background-position: left top;
    background-repeat: no-repeat;
    text-transform: uppercase;
    border-bottom: solid #e5e5e5 1px;
}

.newsTbl .bigheader {
    color: #444;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 15px;
    padding-left: 5px;
    background-position: left top;
    background-repeat: no-repeat;
    border-bottom: solid #e5e5e5 1px;
}



.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}



.navSec {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	border-bottom: solid 1pt #ededde;
}


.table_block {
	border: solid #ccc 1px;
	background-color: #fafafa;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.dataTable { border: 1px solid #aaa; ;
	/*border: solid #999999 1px;*/
}

.dataTable td, th {
	padding: 3px;
	height: 22px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.dataTable tr {
	/*background-color:#F0F0F0;*/
}

.dataTable tr:hover {
	background-color:#F0F0F0;
}
.dataTable th {
	background-color: #600;
	color: #F7F8F1;
}

.db_table .info_row {
	padding-bottom: 10px;
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
}
.medium {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#finish .redirect_link {
	font-size: 18px;
	font-family:Tahoma, Geneva, sans-serif;
}

.stepBtn {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	padding: 3px;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
}
