@charset "utf-8";
/* CSS Document */

/* IE6 css fixer v0.8: Thu, 22 Apr 2010 06:56:38 +0200 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
#page #bannerArea #left,
#page #bannerArea #right,
#page #content #home_data,
#page #content #home_sidebar,
#page #content #page_data,
#page #content #navigation,
#page #content #sidebar,
#page #content #sidebar #navigation,
#links_area .site_section,
#tab_row,
#tab_content,
.tab {display:inline;}

/* add zoom:1 to overflow:hidden */
#page #bannerArea,
#page #notices_block,
#page #content,
#page #content #page_data,
#page #content #page_data .news_content,
#page #navigation #popupContainer .nav_popup,
#links_area,
#spot_container,
#spot_container #spotlight,
#art_area,
#art_area #art_display {zoom:1;}

/* add zoom:1 to pos:relative elements */
#page,
#page #header,
#page #content,
#menubar,
#spot_container,
#art_area,
#art_area #art_display,
#tab_section,
#tab_content {zoom:1;}

/* add transparancy */
#page #navigation #popupContainer .nav_popup {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
#spot_container .spotlight_info {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
#spot_container .spotlight_info #textbox {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
#spot_container .spotlight_item {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}


.img_border {
   padding: 2px;
   border: 2px solid #069;
   margin-left: 4px;
   margin-right: 4px;
}

a {
  color:#069;
   text-decoration: none;
}

a:hover {
  color:#09C;
   text-decoration: none;
}

body { 
	background-color: #f5f5f5;
    margin: 0px;
    padding: 0px;
}

body, td, th {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #222;
   line-height: 18px;
}

#page {
   width: 950px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
}

#page #header {
   height: 85px;
   position: relative;
   z-index: 10;
   color: #000;
   margin-bottom: 20px;
   border-bottom: dashed #ccc 1px;
   background-color: #fff;
   border-bottom: solid #ddd 1px;
   border-left: solid #ddd 1px;
   border-right: solid #ddd 1px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   
   -moz-border-radius-bottomleft: 10px;
   -moz-border-radius-bottomright: 10px;
   
   -webkit-border-bottom-left-radius: 10px;
   -webkit-border-bottom-right-radius: 10px;
}

#page #header #site_logo {
   position:absolute;
   height: 40px;
   left: 20px;
   top: 10px;
   font-size: 18px;
   color: #000;
   font-family: Tahoma;
}

#page #header .blog_title {
   position:absolute;
   left: 20px;
   top: 10px;
   font-size: 24px;
   color: #000;
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#page #header .blog_slogan {
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444px;
    position: absolute;
    left: 40px;
    top: 40px;
}

#page #header #search_area {
   position:absolute;
   right: 20px;
   top: 20px;
   color: #000;
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
}

#page #header #search_area td {
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
   color: #000;
}
#page #navigation  {
   width: 100%;
   background-color: #F9F9F9;
   text-align:center;
   clear: both;
   background-color: #333;
   position:relative;
}

#page #navigation .feeds {
	width: 400px;
    position: absolute;
    top: 12px;
    right: 10px;
    text-align: right;
}

#page #navigation .feeds a { 
	font-weight: normal;
    background-image: url(feed.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 11px;
    
}

#page #navigation a  {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}
#page #navigation a:hover {
    color: #CCC;
}

#page #navigation ul.nav {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#page #navigation ul.nav li {
	float: left;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-right: solid #222 1px;
}

#page #sub-navigation {
	background-color: #555;    
}

#page #sub-navigation ul.sub {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#page #sub-navigation ul.sub li {
	float: left;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-right: solid #444 1px;
}

#page #sub-navigation ul.sub li a {
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

#page #sub-navigation ul.sub li:hover {
    background-color: #333;
    color: #fff;
}


#page #bannerArea {
   margin-top: 10px;
   margin-bottom: 10px;
   display: block;
   padding: 5px;
   overflow: hidden;
}

#page #bannerArea #left {
   width: 650px;
   border: solid #ccc 1px;
   float: left;
   clear: left;
}

#page #bannerArea #right {
   width: 270px;
   padding-left: 10px;
   float: right;
   clear: right;
}


#page #content {
    overflow: hidden;
    background-color: #fff;
    border: solid #ddd 1px;
    margin-top: 20px;
    padding: 20px;
}

#page #content .sidebar {
   width: 250px;
   padding: 5px;
   float: right;
   clear: right;
   color: #333;
   line-height: 18px;
}

#page #content .main {
   width: 620px;
   float: left;
   clear: left;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #333;
   line-height: 18px;
}

#page #content .main h2 {
    font-weight: normal;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-bottom: 20px;
    clear: both;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 5px;
    position: relative;
    color: #333;
}


.block_title   {
   color:#333;
   font-size: 13px;
   font-weight: bold;
   margin-bottom: 10px;
   font-family: Georgia, "Times New Roman", Times, serif;
}

#page #content #home_data {
   width: 640px;
   clear:left;
   float:left;
   background-color: #fff;
}

#page #content #home_data .component_field {
   margin-bottom: 20px;
   margin-left: 10px;
   margin-right: 10px;
}

#page #content #home_sidebar {
   color:#FFF;
   float: right;
   width: 280px;
   clear:right;
}

#page #content #page_data {
    float: left;
    clear:left;
    width: 600px;
    padding: 15px;
    overflow:hidden;
    background-color: #FFF;
}

#page #content #page_data p {
	margin: 0px;   
}

#page #content .article_title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    border-bottom: dotted #999 1px;
}

#page #content #page_data .content_title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #333;
    padding-bottom: 5px;
    border-bottom: dotted #ccc 1px;
    margin-top: 5px;
    font-weight: normal;
}

#page #content #page_data .content_title a {
  text-decoration: none;
   color: #069;
}

#page #content #page_data .content_title a:hover {
  color: #333;   
}

#page #content #page_data .news_content {
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 18px;
    color: #333;
}

#page #content #page_data .news_content p {
    margin-top: 0px;
}

#page #content #page_data .news_content a {
  text-decoration: none;
   color:#069;
}

#page #content #page_data .news_content a:hover {
  color: #06F;
}

/*****
 * The following is kept for compartibility sake with some component pages such as
 * the PHOTO Gallery
 */
#page #content #navigation {
   float:right;
   clear: right;
   padding: 10px;
   border: solid #ccc 1px;
   width: 200px;
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 11px;
}

#page #content #sidebar {
   background-color: #FFF;
   padding: 10px;
   float:right;
   clear: right;
   width: 240px;
}

#page #content #sidebar #navigation {
   float:right;
   clear: right;
   padding: 10px;
   border: solid #ccc 1px;
}

#page #content #related_info {
   padding-top: 10px;
   padding-bottom: 10px;
}

.article_summary {
    overflow: hidden;
    width: 96%;
    margin-bottom: 20px;
}

.article_summary .article_group {
    margin-bottom: 15px;
    overflow: hidden;
}

.article_summary h2 {
    font-weight: normal;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-bottom: 20px;
    clear: both;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 5px;
    position: relative;
    color: #333;
}

.article_summary h2 a.feed-link {
	position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    top: 0px;
    display: block;
    background-image: url(feed.png);
    background-repeat: no-repeat;
    background-position: center;    
}

.article_summary h3 {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-bottom: 0px;
    clear: both;
    border-bottom: dotted 1px #ccc;
    padding-bottom: 5px;
    font-weight: normal;
}

.article_summary h3 a {
    color: #333;
}

.article_summary h3 a:hover {
    color: #333;
}

.article_summary .summary_content {
    clear: both;
    overflow: hidden;
    padding: 5px;
    border-bottom: dotted #ddd 1px;
}

.article_summary .summary_content p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.article_summary .summary_content img {
    width: 120px;
    border: solid #ccc 1px;
    padding: 1px;
    float: left;
    margin-right: 5px;
}

.article_summary .summary_footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 4px;
    text-transform: uppercase;
}

.article_summary .summary_footer a {
	color: #09C;    
}

.article_summary .summary_footer a:hover {
	color: #069; 
}

.article_summary .summary_footer .comment_info {
    background-image: url(comments.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 20px;
}

.article_summary .navbar {
	margin-top: 10px;
    padding: 5px;
    overflow: hidden;    
}

.article_summary .navbar .older-posts {
	float: right;    
}

.article_summary .navbar .newer-posts {
	float: left;    
}

#page .pages-sidebar {
	    
}

#page .pages-sidebar h3 {
    margin: 0px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: dotted #ddd 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;
}

#page .pages-sidebar ul {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    list-style: none;
}

#page .pages-sidebar ul li {
	margin-bottom: 5px;
    padding: 5px;
    padding-left: 20px;
    border-bottom: dotted #ccf 1px;
    background-image: url(arrow.gif);
    background-position: 5px 5px;
    background-repeat: no-repeat;    
}

#page .pages-sidebar ul a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.article_summary .summary_footer span {
    color: #333;
}


#related_info ul {
   margin: 4px;
   list-style: none;
   padding-left: 2px;
}

#related_info .rc_ul {
   margin-left: 4px;
   padding: 4px;
   list-style: none;
}

#related_info ul .rc_title {
   margin-top: 10px;
   border-bottom: dotted #999 1px;
   margin-bottom: 6px;
   padding-bottom: 3px;
   font-weight: bold;
   font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
}

#related_info ul .rc_title a {
   color:#069;
   text-decoration: none;
}

#related_info ul .rc_title a:hover {
  color: #066;   
}

#related_info ul .rc_li {
   border-bottom: dotted #ccc 1px;
   padding-top: 5px;
   padding-bottom: 5px;
}

#related_info ul .rc_li:hover {
  background-color: #f5f5ff;   
}

#related_info ul .rc_li a {
  font-size: 11px;
   font-family:Tahoma, Geneva, sans-serif;
   text-decoration: none;
  color: #333;
}

#related_info ul .rc_li:hover a {
  color: #069;   
}

#page #footer {
    clear:both;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    line-height: 18px;
}

#page #footer a {
   color:#069;
   text-decoration: none;
}

#page #footer a:hover { color: #096; }


/*****************************************************************************************
 * COMPONENTS PAGE
 *****************************************************************************************/
#page #comp_container {
	background-color:#FFF;
   padding: 5px;
}




#comment-form {
	border: dotted #ddd 1px;
    padding: 10px;    
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#comment-form div {
    overflow: hidden;
    padding: 5px;
}

#comment-form label {
	display: inline-block;
   	padding: 3px;
    font-weight: bold; 
   	padding-right: 6px;
    float: left;
    width: 70px;
    text-align: right;
}

#comment-form input[type=text] {
	border: solid #ddd 1px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  
    font-size: 11px;
    width: 300px; 
    padding: 3px;
}

#comment-form textarea {
    width: 400px;
    height: 150px;
    border: solid #ccc 1px;
    padding: 5px;
}

#comment-form #comment-buttons {
	padding: 10px;
    padding-left: 85px;
}

#comment-form .comment-text {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #999;
}

#comment-form input[type=button] {
    padding: 8px;
    /*border: solid #ddd 1px;*/
    font-size: 11px;
    font-weight: bold;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#comment-list {
	margin: 0px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 0px;
    list-style: none;  
}

#comment-list li {
    padding: 10px;
    margin-bottom: 10px;
    border: solid #ddd 1px;
    border-bottom: solid #bbb 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#comment-list li > div {
    padding: 5px;
}

#comment-list li .comment-info .author {
    font-size: 11px;
    font-weight: bold;
}

#comment-list li .comment-info .date {
 	font-size: 10px;
    color: #069;   
}

#comment-list li .comment-info .moderation {
    color: #333;
    font-weight: bold;
}